div.menu{
    position:fixed;
    background: #ffffff;
    width:100%;
    height:80px;
    top:0;
    display: block;
    font-family: 'Francois One', sans-serif;
    z-index: 999;
    text-transform: uppercase;
    -webkit-box-shadow: -4px 12px 53px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 12px 53px -21px rgba(0,0,0,0.75);
    box-shadow: -4px 12px 53px -21px rgba(0,0,0,0.75);
}

.mobilemenu {
	display: none;
}

.active{
    font-weight: bold;
    border-bottom: 2px solid #276d75;
}

div.menu__links{
    margin: 0 auto;
    padding: 16px 0 0 0;
    width:32%;
}

div.menu__logo figure img{
    height: 80px;
    margin: 0 150px 0 0;
}

a.menu__btn:hover{
    background:#276d75;
    color: white;
}

a.menu__btn:link{
    text-decoration: none;
}

div.menu__media:link{
    text-decoration: none;
}

a.menu__btn{
    margin: 0 auto;
    display:inline-block;
    height:45px;
    text-align: center;
    padding: 15px 10px;
    color: black;
    transition: .5s ease-out;
}

div.menu__logo{
    float:left;
    height: 60px;
    transition: .5s ease-out;
}

div.menu__logo:hover{
    filter: invert(37%) sepia(10%) saturate(2331%) hue-rotate(138deg) brightness(94%) contrast(91%);
}

div.container{
    margin: 0 auto;
    width:100%;
    padding: 0 15px;
}

div.menu__media{
    position: absolute;
    top: 30px;
    right: 150px;
    float: right;
    width: 10%;
}

.menu__media a{
    padding: 0 5px;
    color: black;
    transition: .5s ease-out;
}

.menu__media a img{
    height: 15px;
}

.menu__media a:hover{
    color: #276d75;
}

@media (min-width: 1200px){
    .container{
        max-width: 1180px;
    }
}

@media (max-width: 1222px){
    div.menu{
        display: none;
    }
/*mobilemenu*/
.mobilemenu {
	display: block;
  overflow: hidden;
  background-color: #276d75;
  position: fixed;
	z-index: 999;
    width: 100%;
}

.mobilemenu #myLinks {
  display: none;
	text-align: center;}

.mobilemenu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height:48px;
}

.mobilemenu a.icon {
  background: #276d75;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobilemenu a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ffffff;
  color: white;
}
	
.active img{
position: absolute;
top:0px;
padding:0;
margin: 0;
height:45px;
filter: invert(37%) sepia(10%) saturate(2331%) hue-rotate(138deg) brightness(94%) contrast(91%);
}

.active img::after{
content:"";
clear:both;
}
    
    .mobilemenu .icon img{
        height:100%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(357deg) brightness(104%) contrast(101%);
    }
}

/*@media (max-width: 992px){
    .container{
        max-width: 990px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 576px){
    .container{
        max-width: 540px;
    }
}*/

